<launch>
  <include file="$(find atomic_cells)/launch/load_atomic_no_eef_cell.launch"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
    <param name="use_gui" value="true"/>
    <rosparam file="$(find atomic_cells)/config/zeros.yaml"/>    
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find atomic_cells)/config/config.rviz" required="true" output="screen"/>
</launch>